<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{{CSSDEKTOP}}"/>
    <link rel="stylesheet" href="{{CSSMOBILE}}">
</head>
<body>
      <div class="cadastro-container">
    <form class="cadastro-form" id="cadastroForm">
      <h2>Cadastro</h2>

      <!-- Toggle CPF/CNPJ -->
      <div class="toggle-group">
        <label>
          <input type="radio" name="tipoPessoa" value="cpf" checked id="rd_cpf"/>
          Pessoa Física (CPF)
        </label>
        <label>
          <input type="radio" name="tipoPessoa" value="cnpj" id="rd_cnpj"/>
          Pessoa Jurídica (CNPJ)
        </label>
      </div>

      <!-- Campos comuns -->
      <div class="input-group">
        <label for="nome">Nome / Razão Social</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome"  required/>
      </div>

      <div class="input-group">
        <label for="cpfCnpj">CPF</label>
        <input type="text" id="cpfCnpj" name="cpfCnpj" placeholder="Digite o CPF (apenas números)" required/>
      </div>

      <div class="input-group" id="inscricaoEstadualGroup" style="display: none;">
        <label for="inscricaoEstadual">Inscrição Estadual</label>
        <input type="text" id="inscricaoEstadual" name="inscricaoEstadual" placeholder="Digite a Inscrição Estadual" required/>
      </div>

      <!-- Endereço completo -->
      <div class="input-group">
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" name="endereco" placeholder="Rua / Avenida" required/>
      </div>

      <div class="input-group">
        <label for="numero">Número da Residência</label>
        <input type="text" id="numero" name="numero" placeholder="Número" required maxlength="7"/>
      </div>

      <div class="input-group">
        <label for="bairro">Bairro</label>
        <input type="text" id="bairro" name="bairro" placeholder="Bairro" required/>
      </div>

      <div class="input-group">
        <label for="cep">CEP</label>
        <input type="text" id="cep" name="cep" placeholder="Digite o CEP" required/>
      </div>

      <div class="input-group">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade" required/>
      </div>

      <div class="input-group">
        <label for="uf">UF</label>
        <select id="uf" name="uf" required>
          <option value="">Selecione o estado</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>

      <div class="input-group">
        <label for="contato">Contato</label>
        <input type="text" id="contato" name="contato" placeholder="xx xxxxx-xxxx (Apenas número sem espaços)" maxlength="11" required/>
      </div>

      <div class="input-group">
        <label for="usuario">Usuário</label>
        <input type="text" id="usuario" name="usuario" placeholder="Escolha um nome de usuário" required/>
      </div>

      <div class="input-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required/>
      </div>

      <div class="input-group">
        <label for="confirmarSenha">Confirmar Senha</label>
        <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="Confirme sua senha" required />
      </div>

      <div class="input-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Digite o e-mail" required/>
      </div>
    </form>
      <button id="btnCadastro">Cadastrar</button>
      <p class="message" id="cadastroMessage"></p>
  </div>
    <script src="{{LINKJS}}"></script>
    <script src="{{LINKFNCADASTROJS}}"></script>
</body>
</html>